.stub-page
    button.dark-btn Dark theme
    .main
        .main__left
            p.main__left-txt Deja ne ocupăm de rezolvarea acestei probleme, între timp, descoperă și celelalte promoții ale noastre:
            a(href="/promos/promotions/all/").main__left-btn Promoții
        .main__right
            .koala
            .bubble
                p.bubble-txt Ne pare rău, ceva nu a mers bine...
            .icons
                .icons-top
                .icons-marks
                .icons-bottom
                .icons-left